[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/root/jobs-numbers-website
Environment="PATH=/root/jobs_numbers/bin"
ExecStart=/home/sammy/myproject/myprojectenv/bin/uwsgi --ini jobs_numbers.ini

[Install]
WantedBy=multi-user.target
